{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Error Detected</title>
        <link href="{% static 'login/styles.css' %}" rel="stylesheet">
</head>
<body>
    {% block content %}


  <div class="center">
        <div class="card login-form">
        <div class="card-body">
            <h2>An Error Has Occured</h2>

            <div class="signup_link">
                <a href="{% url 'login'%}">Back</a>
            </div>

            </div>
        </div>
    </div>
    </div>


    {% endblock %}
</body>
</html>