{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
        <title>TARA | Forgot Password?</title>
        <link rel="icon" href="https://i.ibb.co/N2F2Qd8/TaraLogo.jpg" type="image/icon type">
        <link href="{% static 'login/styles.css' %}" rel="stylesheet">
</head>
<body>
<form method="POST">
    <div class="center">
        <h1>Reset Password</h1>
    {% csrf_token %}
    <div class="txt_field">
        {{form.email}}
        <span></span>
        <label>Email</label>
    </div>
    <input type="submit">
    </div>
</form>
</body>
</html>
