{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
        <title>Reset Password</title>
        <link rel="icon" href="https://i.ibb.co/N2F2Qd8/TaraLogo.jpg" type="image/icon type">
        <link href="{% static 'login/styles.css' %}" rel="stylesheet">
</head>
</head>
<body>
<form method="POST">
    <div class="center">
    <h1>Enter New Password</h1>
  {% csrf_token %}
    <div class="txt_field">
        {{form.new_password1}}
        <span></span>
        <label>New Password</label>
        </div>

            <div class="txt_field">
        {{form.new_password2}}
        <span></span>
        <label>Confirm New Password</label>
        </div>

            <div class="errorMessages">
        {{form.errors}}
    </div>

  <input type="submit" name="update_password">
    </div>
</form>
</body>
</html>