{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Email sent</title>
        <link href="{% static 'login/styles.css' %}" rel="stylesheet">
</head>
<body>
    {% block content %}


  <div class="center">
        <div class="card login-form">
        <div class="card-body">
            <h2>Email Has Been Sent</h2>
            <p style="center">Check your email inbox and click the link provided to reset your password.</p>

            <div class="signup_link">
                <a href="{% url 'login'%}">Back</a>
            </div>

            </div>
        </div>
    </div>
    </div>


    {% endblock %}
</body>
</html>