{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TARA | Success</title>
    <link rel="icon" href="https://i.ibb.co/N2F2Qd8/TaraLogo.jpg" type="image/icon type">
    <link href="{% static 'teacherRater/styles.css' %}" rel="stylesheet">
    <style>
        body {
            background: white;
        }
    </style>
</head>
<body>

<div class="review-page">
    <div class="reviewed">
        <h1>Reset Complete</h1>
        <div class="https://tenor.com/view/bear-hug-wink-thumbs-up-gif-12388206"></div>
        <div class="review-detail">
            <h3>Password has been reset </h3>
            <span>You may continue to the login page</span> <br>
            <button type="button" onclick="history.back();">login</button>

        </div>
    </div>
</div>

</body>
</html>