<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Account Registration</title>
</head>
<body>

<h1> Register </h1>
<form method="POST" action="">
    {% csrf_token %}
    {{form.username.label}}
    {{form.username}} <br>

    {{form.email.label}}
    {{form.email}} <br>

    {{form.password1.label}}
    {{form.password1}} <br>

    {{form.password2.label}}
    {{form.password2}} <br><br>

    {{form.errors}}

    <input type="submit" name="Create Account" value="Register Account"> <br>

</form>
Already got an account? <a href="javascript:history.back()">Login</a>

</body>
</html>