{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Verification</title>
    <link href="{% static 'login/styles.css' %}" rel="stylesheet">
</head>
<body>
    {% block content %}

    <div class="center">
        <div class="card login-form">
        <div class="card-body">
            <h2>Verification Email Has Been Sent</h2>

            <p style="center">Before continuing into our page, please verify your account by clicking the link that has been sent to your email. You may close this page.</p>
        </div>
    </div>
    </div>
    {% endblock %}
</body>
</html>