{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TARA | Success</title>
    <link rel="icon" href="https://i.ibb.co/N2F2Qd8/TaraLogo.jpg" type="image/icon type">
    <link href="{% static 'teacherRater/styles.css' %}" rel="stylesheet">
    <style>
        body {
            background: white;
        }
    </style>
</head>
<body>

<div class="review-page">
    <div class="reviewed">
        <h1>Email Sent</h1>
        <div class="review-img"><img src="https://media4.giphy.com/media/l0JM83bF1jbRsTnNu/200w.webp?cid=ecf05e473zjep5xaxhubyl5ia2hr55c5hut5wfvglxzjqwx5&rid=200w.webp&ct=g"></div>
        <div class="review-detail">
            <h3>You need to verify your email</h3>
            <span>Check your email inbox and click the link provided</span> <br>
            <button type="button" onclick="history.back();">Continue</button>

        </div>
    </div>
</div>

</body>
</html>