*{
    margin: 0;
    padding: 0;
}

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #343434;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #565656;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #191b24;
}


body{
    font-family: Arial;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 70px;
    background: black;
    justify-self: center;
    align-self: center;
}

nav .logo{
    position: relative;
    font-size: 1.5em;
    color: white;
    text-decoration: none;
    font-weight: 600;
}

nav .navigation{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px 0;
}

nav .navigation li{
    list-style: none;
    margin: 0 10px;
}

nav .navigation li a{
    color: white;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
}

nav .search input{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    outline: none;
    color: white;
}

.mainProfileView{
    width: 80%;
    display: flex;
    justify-content: space-between;
    background: #f6f6f6;
}

.Rating{
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 30%;
    background: #eeeeee;
    border-radius: 5% 30% 5% 30%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    gap: 5px;
}


.mainBody{;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
}

/* Main Searchbar */
.search-Form{
    width: 50%;
}

.MainSearch {
    width: 100%;
    display: flex;
    position: relative;
    margin-top: 25px;
}

.searchTerm {
    width: 100%;
    border: 3px solid black;
    border-right: none;
    padding: 5px 5px 5px 17px;
    height: 40px;
    border-radius: 10px 0 0 10px;
    outline: none;
    color: black;
    font-size: 20px;
}

.search-input{
    padding-left: 20px;
}

.searchTerm:focus{
  color: black;
}

.searchButton {
  width: 60px;
  height: 55px;
  border: 1px solid black;
  background: #1f1f1f;
  text-align: center;
  color: #fff;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Profile Main Cards */

.Logout{
    color: white;
    text-decoration: none;
}

.profile-part{
    padding: 50px;
    display: flex;
    gap: 25px;
}

.reviews{
    align-items: center;
    justify-content: center;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.comments{
    width: 50%;
    display: flex;
    background-color: #f1f1f1;
    padding: 10px;
    margin-bottom: 20px;
    flex-direction: column;
    border-radius: 10px;
}

.comments-rating{
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.comments-rating h4{
    margin-bottom: 10px;
}

.score-Divide{
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.rating-number-box{
    display: flex;
    align-items: center;
    vertical-align: center;
    justify-content: center;
    background-color: black;
    width: 80px;
    height: 70px;
    color: white;
    margin-bottom: 10px;
}

.comments-informations{
    padding: 10px;
}

.comments-date-name-part{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.comments-text{
    padding: 15px 15px 15px 0;
}
.container{
  width: 100%;
  overflow: hidden;
  padding: 20px 0;
}
.container .main-card{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    align-items: center;
    padding-top: 50px;

}
#two:checked ~ .main-card{
  margin-left: -100%;
}
.container .main-card .cards{
  width: 25%;
  display: flex;
  flex-wrap: wrap;
  margin: 0 20px;
  justify-content: space-between;
}
.main-card .cards .card{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background: #fff;
  border-radius: 12px;
  padding: 30px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.4s ease;
}
.main-card .cards .card:hover{
  transform: translateY(-15px);
}
.cards .card .content{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.cards .card .content .img{
  height: 130px;
  width: 130px;
  border-radius: 50%;
  padding: 3px;
  background: black;
  margin-bottom: 14px;
}
.card .content .img img{
  height: 100%;
  width: 100%;
  border: 3px solid #ffff;
  border-radius: 50%;
  object-fit: cover;
}
.card .content .name{
    font-size: 30px;
    font-weight: 550;
    color: black;
}
.card .content .job{
  font-size: 20px;
  color: goldenrod;
}

.profile-button{
    text-decoration: none;
}



.formbutton{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.formbutton button{
    padding: 10px 20px;
    font-size: 15px;
    font-weight:600;
}

.popup{
    padding: 20px 20px;
    opacity: 0;
    position: absolute;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
}

.popup.active{
    opacity:1;
    position: relative;
    display: flex;

    margin-bottom: 20px;
    width: 40%;
    left: 25%;
    transition: opacity 200ms ease-in-out 0ms;
}

.popup .close-btn{
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    width:15px;
    height:15px;
}

.popup .close-btn:hover{
    transform: scale(1.5);
    transition: .5s ease-in-out;
}

.submitform{
    padding: 10px 20px;
    font-size: 15px;
    font-weight:600;
}


.leftSideProfile{
    display: flex;
    flex-direction: column;
}

.profile-picture{
    max-width: 256px;
    height: 256px;
    border-radius: 10px;
    object-fit: cover;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.rightSideProfile{
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
}

.rightSideProfile p{
    margin-bottom: 15px;
}

.stuff1{
    width: 150px;
}
.stuff2{
    width: 150px;
}
.stuff3{
    width: 150px;
}
.stuff4{
    margin-top: 20px;
    width: 150px;
}

@media only screen and (max-width: 850px) {
    .mainProfileView{
        flex-direction: column;
        width: 100%;
    }

    .profile-part{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .rightSideProfile{
        text-align: center;
    }

    .education-text{
        visibility: hidden;
    }

    .Rating{
        margin: 0;
        padding: 0;
        border-radius: 0;
        box-shadow: none;
        width: 80%;
        align-self: center;
        justify-self: center;
        margin-top: -50px;
    }

    .comments{
        width: 100%;
        padding: 10px;
    }


    .comments-date-name-part{
        flex-direction: column;
    }

    .comments-date{
        font-size: 14px;
        font-weight: normal;
    }

    .score-Divide{
        margin: 0 10px;
    }
    .score-Divide h4{
        font-size: small;
    }

    .popup.active{
        width: 90%;
        left: 0;
    }

    .popup .close-btn{
        top: 10px;
        right: 20px;
        width: auto;
    }
}

/* Fancy Button */
/* CSS */
.button-30 {
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.button-30:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button-30:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-30:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}

