*{
    margin: 0;
    padding: 0;
}

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #343434;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #565656;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #191b24;
}


body{
    font-family: Arial;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 70px;
    background: black;
    justify-self: center;
    align-self: center;
}

nav .logo{
    position: relative;
    font-size: 1.5em;
    color: white;
    text-decoration: none;
    font-weight: 600;
}

nav .navigation{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px 0;
}

nav .navigation li{
    list-style: none;
    margin: 0 10px;
}

nav .navigation li a{
    color: white;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
}

nav .search input{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    outline: none;
    color: white;
}

.mainProfileView{
    width: 80%;
    display: flex;
    justify-content: space-between;
    background: #f6f6f6;
}

.Rating{
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 30%;
    background: #eeeeee;
    border-radius: 5% 30% 5% 30%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    gap: 5px;
}


.mainBody{;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
}

/* Main Searchbar */
.search-Form{
    width: 50%;
}

.MainSearch {
    width: 100%;
    display: flex;
    position: relative;
    margin-top: 25px;
}

.searchTerm {
    width: 100%;
    border: 3px solid black;
    border-right: none;
    padding: 5px 5px 5px 17px;
    height: 40px;
    border-radius: 10px 0 0 10px;
    outline: none;
    color: black;
    font-size: 20px;
}

.search-input{
    padding-left: 20px;
}

.searchTerm:focus{
  color: black;
}

.searchButton {
  width: 60px;
  height: 55px;
  border: 1px solid black;
  background: #1f1f1f;
  text-align: center;
  color: #fff;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Profile Main Cards */

.Logout{
    color: white;
    text-decoration: none;
}

.profile-part{
    padding: 50px;
    display: flex;
    gap: 25px;
}

.reviews{
    align-items: center;
    justify-content: center;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.comments{
    width: 50%;
    display: flex;
    background-color: #f1f1f1;
    padding: 10px;
    margin-bottom: 20px;
    flex-direction: column;
    border-radius: 10px;
}

.comments-rating{
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.comments-rating h4{
    margin-bottom: 10px;
}

.score-Divide{
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.rating-number-box{
    display: flex;
    align-items: center;
    vertical-align: center;
    justify-content: center;
    background-color: black;
    width: 80px;
    height: 70px;
    color: white;
    margin-bottom: 10px;
}

.comments-informations{
    padding: 10px;
}

.comments-date-name-part{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.comments-text{
    padding: 15px 15px 15px 0;
}
.container{
    width: 100%;
    overflow: hidden;
    padding: 20px 0;
}
.container .main-card{
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    flex-wrap: wrap;

}

.container .main-card .cards{
    width: 25%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 20px;
    justify-content: center;
    align-items: center;
}
.main-card .cards .card{
  display: flex;
  flex-wrap: wrap;
  width: 256px;
  background: #f8f8f8;
  border-radius: 12px;
  padding: 30px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.4s ease;
}
.main-card .cards .card:hover{
  transform: translateY(-15px);
    background: #e7e7e7;
}
.cards .card .content{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.cards .card .content .img{
  height: 130px;
  width: 130px;
  border-radius: 50%;
  padding: 3px;
  background: black;
  margin-bottom: 14px;
}
.card .content .img img{
  height: 100%;
  width: 100%;
  border: 3px solid #ffff;
  border-radius: 50%;
  object-fit: cover;
}
.card .content .name{
    font-size: 20px;
    font-weight: 550;
    color: black;
}
.card .content .job{
  font-size: 15px;
  color: goldenrod;
}

.profile-button{
    text-decoration: none;
}



.formbutton{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.formbutton button{
    padding: 10px 20px;
    font-size: 15px;
    font-weight:600;
}

.popup{
    padding: 20px 20px;
    opacity: 0;
    position: absolute;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
}

.popup.active{
    opacity:1;
    position: relative;
    display: flex;

    margin-bottom: 20px;
    width: 40%;
    left: 25%;
    transition: opacity 200ms ease-in-out 0ms;
}

.popup .close-btn{
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    width:15px;
    height:15px;
}

.popup .close-btn:hover{
    transform: scale(1.5);
    transition: .5s ease-in-out;
}

.submitform{
    padding: 10px 20px;
    font-size: 15px;
    font-weight:600;
}


.leftSideProfile{
    display: flex;
    flex-direction: column;
}

.profile-picture{
    max-width: 256px;
    height: 256px;
    border-radius: 10px;
    object-fit: cover;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.rightSideProfile{
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
}

.rightSideProfile p{
    margin-bottom: 15px;
}

.stuff1{
    width: 150px;
}
.stuff2{
    width: 150px;
}
.stuff3{
    width: 150px;
}
.stuff4{
    margin-top: 20px;
    width: 150px;
}

.comments-date-mine{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

@media only screen and (max-width: 850px) {
    .mainProfileView{
        flex-direction: column;
        width: 100%;
    }

    .profile-part{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .rightSideProfile{
        text-align: center;
    }

    .education-text{
        visibility: hidden;
    }

    .Rating{
        margin: 0;
        padding: 0;
        border-radius: 0;
        box-shadow: none;
        width: 80%;
        align-self: center;
        justify-self: center;
        margin-top: -50px;
    }

    .comments{
        width: 100%;
        padding: 10px;
    }


    .comments-date-name-part{
        flex-direction: column;
    }

    .comments-date{
        font-size: 14px;
        font-weight: normal;
    }

    .comments-date-mine{
        font-size: 14px;
        font-weight: normal;
    }

    .score-Divide{
        margin: 0 10px;
    }
    .score-Divide h4{
        font-size: small;
    }

    .popup.active{
        width: 90%;
        left: 0;
    }

    .popup .close-btn{
        top: 10px;
        right: 20px;
        width: auto;
    }
}

/* Fancy Button */
/* CSS */
/* From cssbuttons.io */
.fancy {
 background-color: transparent;
 border: 2px solid #000;
 border-radius: 0;
 box-sizing: border-box;
 color: #fff;
 cursor: pointer;
 display: inline-block;
 font-weight: 700;
 letter-spacing: 0.05em;
 margin: 0;
 outline: none;
 overflow: visible;
 padding: 1em;
 position: relative;
 text-align: center;
 text-decoration: none;
 transition: all 0.3s ease-in-out;
 user-select: none;
 font-size: 13px;
}

.fancy .text {
    font-size: 1.125em;
    line-height: 1.33333em;
    display: block;
    text-align: center;
    transition: all 0.3s ease-in-out;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
}

.fancy .top-key {
 height: 2px;
 width: 1.5625rem;
 top: -2px;
 left: 0.625rem;
 position: absolute;
 background: #e8e8e8;
 transition: width 0.5s ease-out, left 0.3s ease-out;
}

.fancy .bottom-key-1 {
 height: 2px;
 width: 1.5625rem;
 right: 1.875rem;
 bottom: -2px;
 position: absolute;
 background: #e8e8e8;
 transition: width 0.5s ease-out, right 0.3s ease-out;
}

.fancy .bottom-key-2 {
 height: 2px;
 width: 0.625rem;
 right: 0.625rem;
 bottom: -2px;
 position: absolute;
 background: #e8e8e8;
 transition: width 0.5s ease-out, right 0.3s ease-out;
}

.fancy:hover {
 color: white;
 background: black;
}

.fancy:hover::before {
 width: 0.9375rem;
 background: white;
}

.fancy:hover .text {
 color: white;
}

.fancy:hover .top-key {
 left: -2px;
 width: 0px;
}

.fancy:hover .bottom-key-1,
 .fancy:hover .bottom-key-2 {
 right: 0;
 width: 0;
}

.review-page{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
}

.reviewed{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 800px;
    height: 100%;
    flex-direction: column;
}

.reviewed h1{
    font-size: 100px;
    margin-bottom: 5px;
}

.reviewed h3{
    margin-bottom: 7px;
}

.reviewed button{
    margin-top: 10px;
    width: 150px;
    height: 50px;
    background: black;
    color: white;
    cursor: pointer;
    font-weight: bold;
    font-size: medium;
}

.reviews .reviewed{
    font-size: 20px;
    margin-top: 20px;
}

/* Fancy Remove button */
/* From cssbuttons.io by @hannahyockel */
.tooltip {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 padding: 1em;
 border: 0px solid transparent;
 background-color: rgba(76, 75, 81, 0.08);
 border-radius: 1.25em;
 transition: all 0.2s linear;
}

.tooltip:hover {
    box-shadow: 3.4px 2.5px 4.9px rgba(0, 0, 0, 0.025),
                8.6px 6.3px 12.4px rgba(0, 0, 0, 0.035),
                17.5px 12.8px 25.3px rgba(0, 0, 0, 0.045),
                36.1px 26.3px 52.2px rgba(0, 0, 0, 0.055),
                99px 72px 143px rgba(0, 0, 0, 0.08);
    cursor: pointer;
}

.tooltip {
 position: relative;
 display: inline-block;
}

.tooltip .tooltiptext {
 visibility: hidden;
 width: 4em;
 background-color: rgba(0, 0, 0, 0.5);
 color: #fff;
 text-align: center;
 border-radius: 6px;
 padding: 5px 0;
 position: absolute;
 z-index: 1;
 top: 25%;
 left: 110%;
}

.tooltip .tooltiptext::after {
 content: "";
 position: absolute;
 top: 50%;
 right: 100%;
 margin-top: -5px;
 border-width: 5px;
 border-style: solid;
 border-color: transparent rgba(0, 0, 0, 0.5) transparent transparent;
}

.tooltip:hover .tooltiptext {
 visibility: visible;
}