{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About Us</title>
    <link href="{% static 'teacherRater/aboutus.css' %}" rel="stylesheet">
</head>
<body>
    <nav>
        <a href="{% url 'index' %}" class="logo">T A<br>R A</a>
        <ul class="navigation">
            <li><a href="{% url 'index' %}">Teachers</a></li>
            <li><a href="{% url 'AboutUsPage' %}">About Us</a></li>
        </ul>
        <a class="Logout" href="{% url 'logout' %}">Logout from <br>{{request.user}}</a>
    </nav>
    <div class="wrapper">
        <div class="testimonial">
            <article>
                <h1>About</h1>
                <img src="https://static.wixstatic.com/media/07639e_ddaa3ee3a4a24a40bf27d981b91d17d8~mv2.jpg/v1/fill/w_640,h_300,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/07639e_ddaa3ee3a4a24a40bf27d981b91d17d8~mv2.jpg">
                     <blockquote>
                         <p>SDH Makassar was built in 2003. We are located in Tanjung Bunga, the south area of Makassar.</p>

                         <p>We believe that education should bring the students to grow in the knowledge of God, their creator, through every subject they learn. Our desire is to equip each child to develop holistically and able to respond to their calling which is to serve God and be a blessing to many people in Indonesia and other countries.</p>

                         <p>We serve from K-12 with full English instruction in Kindergarten and gradually introduce bilingual instruction in Elementary and Senior School. The curriculum is developed in line with national guideline and approached with best teaching practices from Biblical Christian Perspectives.</p>

                         <p>Our teachers are Christians and competent on their field of teaching. They are committed and engaged in a continued professional development. They are expected to be a role model for their students.Our school is completed with excellent facilities to help students’ growth by exploring them to various experiences through sports, technology, arts and music, language, social community service, science and many more. Those facilities include playground, football field, futsal court, jogging track, swimming pool, basketball and badminton court, dance room, art and music rooms, computer rooms, science laboratories, libraries with lots of resources, and health center.</p>

                         <p>The school views parents as the prime educators who are the school partner in educating their children. There are many parenting seminars conducting in assisting parents to gain more knowledge and understanding about their role and equip them to do their part better.Kindly contact our admission staff through sending email to admission get further information or you may browse our website.

                          Thank you so much for spending your time by visiting and knowing about our school.</p>
                     </blockquote>
                         <h5>- LINDA TEJOKUSUMA -</h5>
                         <p>Message from the Head Of School</p>

            </article>

        </div>

    </div>
</body>
</html>