{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>TARA | About Us</title>
    <link rel = "icon" href ="https://i.ibb.co/F4f9t05/logo.png">
    <link href="{% static 'teacherRater/aboutus.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <nav>
        <a href="{% url 'index' %}" class="logo">T A<br>R A</a>
        <ul class="navigation">
            <li><a href="{% url 'index' %}">Teachers</a></li>
            <li><a href="{% url 'AboutUsPage' %}">About Us</a></li>
        </ul>
        <a class="Logout" href="{% url 'logout' %}">Logout from <br>{{request.user}}</a>
    </nav>

    <div class="container">
        <div class="top-section">
            <h1>About Us!</h1>
            <br>
            <p>In this page, you can learn various information about us and this application. Want to learn more about us?</p><h3 class="scroll-down">Scroll down!</h3>
        </div>

        <div class="timeline">
            <div class="line"></div>
            <div class="section">
                <div class="bead"></div>
                <div class="content">
                    <h1>What is TARA?</h1>
                    <p>This is a simple web app, meant to be used to help new students gain more information about the teachers inside of our school. We spent a lot of time working on this app so feel free to message any of us if you have any feedback on how to improve our app :)</p>
                </div>
            </div>

            <div class="section">
                <div class="bead"></div>
                <div class="content">
                    <h1>Who are we?</h1>
                    <p>We are a group of like-minded individuals who wants to better our school and it's future students by allowing them to have an idea of the state of the current teachers in our school.</p>

                </div>
            </div>

            <div class="section">
                <div class="bead"></div>
                <div class="content">
                    <h1>Contact Us!</h1>
                    <p>We are available on a variety of social media, if you have any questions or would like to report an issue feel free to message one of us</p>
                    <div class="social-btn">
                        <br>
                        <li>
                            <i class="fa fa-instagram"> <a class="socLink" target="_blank" href="https://www.instagram.com/briananakpintar/">BrianAnakPintar</a></i>
                            <i class="fa fa-instagram"> <a class="socLink" target="_blank" href="https://www.instagram.com/WilliamJasonSuciady/">WilliamJasonSuciady</a></i>
                            <i class="fa fa-instagram"> <a class="socLink" target="_blank" href="https://www.instagram.com/YuvanSutjianto/">YuvanSutjianto</a></i>
                        </li>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom-section">
            <h1>That's It!</h1>
            <p style="text-align: justify">
                Brian Fransis Moniaga <br>
                William Jason Suciady <br>
                Yuvan Prasetyo Sutjianto <br>
            </p>
        </div>
    </div>

    <script src="{% static 'teacherRater/timeline.js' %}"></script>

</body>
</html>