{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <link href="{% static 'teacherRater/styles.css' %}" rel="stylesheet">

</head>
<body>
    <nav>
        <a href="#" class="logo">T A R A</a>
        <ul class="navigation">
            <li><a href="#">Teachers</a></li>
            <li><a href="#">Highest Rated</a></li>
            <li><a href="#">Contact Us</a></li>
        </ul>
        <a class="Logout" href="{% url 'logout' %}">Logout from <br>{{request.user}}</a>
    </nav>
    <div class="mainBody">
        <h1>The Amazing Rating Application</h1>
        <div class="MainSearch">
            <input type="text" class="searchTerm" placeholder="Search For A Teacher">
            <button type="submit" class="searchButton">
                Go
            </button>
        </div>
        <div class="highSchoolList">
            {% for teacher in teacherList %}
            <div class="main-card">
                <div class="main-card-image" style="background-image: url({{ teacher.picture }})"></div>
                <div class="main-card-details">
                    <div class="main-card-name">
                        <h1>{{ teacher.name }}</h1>
                    </div>
                    <div class="main-card-rating">
                        <h3>Overall Rating:</h3>
                        <h1>5/5</h1>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>