{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TARA | Home</title>
    <link rel="icon" href="https://i.ibb.co/N2F2Qd8/TaraLogo.jpg" type="image/icon type">
    <link href="{% static 'teacherRater/styles.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
<nav>
    <a href="{% url 'index' %}" class="logo"><h1 class="logoText">T A<br>R A</h1></a>
    <ul class="navigation">
        <li><a href="{% url 'index' %}">Teachers</a></li>
        <li><a href="{% url 'AboutUsPage' %}">About Us</a></li>
    </ul>
    <a class="Logout" href="{% url 'logout' %}">Logout from <br>{{request.user}}</a>
</nav>
<div class="mainBody">
    <h1 class="TitleTara">The Amazing Rating Application</h1>

    <form class="search-Form" method="get" action="{% url 'SearchPage' %}">
        <div class="MainSearch">
            {% csrf_token %}


            <button class="filtersearch" type="button" id="show-form">
                <i style="font-size: 17px;" class="fa fa-filter"></i>
            </button>
            <input name="searchInput" type="text" class="searchTerm" placeholder="Search Teacher">
            <button type="submit" class="searchButton">
                Go
            </button>
        </div>

        <div class="searchpopup">
            <div class="close-btn">&times;</div>
            <div class="form">
                <h3>Filters:</h3>
                <div class="filters-cat">
                    <select name="categoryLesson" class="categoryLesson">
                        <option value="All">All</option>
                        {% for lesson in lessons %}
                            <option value="{{lesson.0}}">{{lesson.1}}</option>
                        {% endfor %}
                    </select>
                    <select name="categoryGrade" class="categoryGrade">
                        <option value="All">All</option>
                        {% for grade in grades %}
                            <option value="{{grade.0}}">{{grade.1}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>

        <script>
        document.querySelector("#show-form").addEventListener("click", function(){
            document.querySelector(".searchpopup").classList.add("active");
        });

        document.querySelector(".searchpopup .close-btn").addEventListener("click", function(){
            document.querySelector(".searchpopup").classList.remove("active");
        });
        </script>

    </form>
    <br>
    <div class="feedback"></div>
    <div class="purpose"><p style="font-size: 25px">Give Feedback to Your Teachers!</p></div>
    <div class="container">
        <div class="main-card">
            {% for teacher in teacherRatings %}
            <div class="cards">
                <a class="profile-button" href="{% url 'TeacherProfile' teacher.teacherID %}">
                    <div class="card">
                        <div class="content">
                            <div class="img">
                                <img src="{{ teacher.picture }}">
                            </div>
                            <div class="details">
                                <div class="name">{{teacher.name}}</div>
                                <div class="job">{{teacher.lesson}}</div>
                                <div class="job">{{teacher.overallRating}}</div>
                                <div class="job">Total Reviews: {{ teacher.totalReviews }}</div>
                                <div class="job">Grade {{ teacher.grade }}</div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
</body>
</html>