{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TARA | Search</title>
    <link href="{% static 'teacherRater/styles.css' %}" rel="stylesheet">
</head>
<body>
    <nav>
        <a href="#" class="logo">T A R A</a>
        <ul class="navigation">
            <li><a href="#">Teachers</a></li>
            <li><a href="#">Highest Rated</a></li>
            <li><a href="#">Contact Us</a></li>
        </ul>
        <a class="Logout" href="{% url 'logout' %}">Logout from <br>{{request.user}}</a>
    </nav>
    {% for teacher in search %}
        <h1>{{ teacher.name }}</h1>
    {% endfor %}
</body>
</html>