{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ teacher.name }} - TARA</title>
    <link href="{% static 'teacherRater/styles.css' %}" rel="stylesheet">
</head>
<body>
    <nav>
        <a href="#" class="logo">T A R A</a>
        <ul class="navigation">
            <li><a href="#">Teachers</a></li>
            <li><a href="#">Highest Rated</a></li>
            <li><a href="#">Contact Us</a></li>
        </ul>
        <a class="Logout" href="{% url 'logout' %}">Logout from <br>{{request.user}}</a>
    </nav>

    <div class="mainProfileView">
        <div class="profile-part">
            <img src={{ teacher.picture }} alt="profilePicture">
            <h1>{{ teacher.name }}</h1>
        </div>
    </div>
        <div class="Rating">
            <h2>Overall Rating: 5/5</h2>
            <h2>Difficulty: 2/5</h2>
            <h2>Interactivity: 4/5</h2>
        </div>
    </div>

    <div class="reviews">
        <!-- Reviews -->
        <div class="student-reviews">
            {% for review in reviews %}

                <div class="review-card">
                    <h1>{{ review.commentReview }}</h1>
                </div>
            {% endfor %}
        </div>

        <form method="post">
            {% csrf_token %}
            {{ form }}
            <button type="submit">Submit</button>
        </form>
    </div>

</body>
</html>