{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ teacher.name }} - TARA</title>
    <link href="{% static 'teacherRater/styles.css' %}" rel="stylesheet">
</head>
<body>
    <nav>
        <a href="{% url 'index' %}" class="logo">T A<br>R A</a>
        <ul class="navigation">
            <li><a href="{% url 'index' %}">Teachers</a></li>
            <li><a href="{% url 'AboutUsPage' %}">About Us</a></li>
        </ul>
        <a class="Logout" href="{% url 'logout' %}">Logout from <br>{{request.user}}</a>
    </nav>

    <div class="mainProfileView">
        <div class="profile-part">
            <div class="leftSideProfile">
                <img class="profile-picture" src={{ teacher.picture }} alt="profilePicture">
            </div>
            <div class="rightSideProfile">
                <h1>{{ teacher.name }}</h1>
                <p>{{ teacher.comment }}</p>
                <h3>Subject: {{ teacher.subjects }}</h3>
                <h3 class="education-text">Education: {{ teacher.education }}</h3>
            </div>
        </div>
        <div class="Rating">
            <div class="stuff1">
                <div class="score-Divide">
                        <div class="rating-number-box">
                            <h1>{{ overallRating }}</h1>
                        </div>
                    <h4>Overall Rating</h4>
                </div>
            </div>
            <div class="stuff2">
                <div class="score-Divide">
                        <div class="rating-number-box">
                            <h1>{{ ratings.avgUnderstand }}</h1>
                        </div>
                    <h4>Understandability</h4>
                </div>
            </div>
            <div class="stuff3">
                <div class="score-Divide">
                        <div class="rating-number-box">
                            <h1>{{ ratings.avgComms }}</h1>
                        </div>
                    <h4>Communication</h4>
                </div>
            </div>
            <div class="stuff4">
                <div class="score-Divide">
                        <div class="rating-number-box">
                            <h1>{{ ratings.avgTeachMethod }}</h1>
                        </div>
                    <h4>Teaching Method</h4>
                </div>
            </div>
        </div>
    </div>



    <div class="reviews">
        <!-- Reviews -->
        <div class="reviewed"><h2>My Review: </h2> </div>
        {% if myreview%}
            {% for my in myreview%}
                <div class="comments">
                    <div class="comments-informations">
                        <div class="comments-date-name-part">
                            <div class="comments-name">
                                <!-- If Is Anonymous then put Anonymous, else Put user -->
                                    <h2>{{ my.user }}</h2>
                            </div>
                            <div class="comments-date">
                                <h3>{{ my.date }}</h3>
                            </div>
                        </div>
                    <div class="comments-text">
                        <p>{{ my.commentReview }}</p>
                    </div>
                    </div>
                <div class="comments-rating">
                    <div class="score-Divide">
                        <div class="rating-number-box">
                            <h1>{{ my.understandability }}</h1>
                        </div>
                        <h4>Understandability</h4>
                    </div>
                    <div class="score-Divide">
                        <div class="rating-number-box">
                            <h1>{{ my.communication }}</h1>
                        </div>
                        <h4>Communication</h4>
                    </div>
                    <div class="score-Divide">
                        <div class="rating-number-box">
                            <h1>{{ my.teachingMethod }}</h1>
                        </div>
                        <h4>Teaching Method</h4>
                    </div>
                    </div>

                </div>
            {% endfor %}

        {% else %}
        <div class="reviewed"><h2>Not Reviewed Yet</h2></div>
        {% endif %}
        </div>



    <div class="formbutton">
        <button class="button-30" id="show-form">Submit Your Review</button>
    </div>

    <div class="popup">
        <div class="close-btn">&times;</div>
        <div class="form">
            <h2>Forms</h2>
            <form method="POST">
                <div class="form-element">
                    {% csrf_token%}
                    <label>Understandability</label><br>
                    {{ form.understandability}}<br><br>

                    <label>Communication</label><br>
                    {{ form.communication }} <br><br>

                    <label>Teaching Method</label><br>
                    {{ form.teachingMethod}} <br><br>

                    <label>Comment</label><br>
                    {{ form.commentsReview}} <br><br>

                    <label>Make anonymous</label>
                    {{ form.makeAnonymous}} <br>
                    <button type="submit" class="submitform">Submit</button>
                </div>
            </form>
        </div>
    </div>

    <script>
        document.querySelector("#show-form").addEventListener("click", function(){
            document.querySelector(".popup").classList.add("active");
        });

        document.querySelector(".popup .close-btn").addEventListener("click", function(){
            document.querySelector(".popup").classList.remove("active");
        });
    </script>


    <div class="reviews">
        <!-- Reviews -->
            {% for review in reviews reversed%}
                <div class="comments">
                    <div class="comments-informations">
                        <div class="comments-date-name-part">
                            <div class="comments-name">
                                <!-- If Is Anonymous then put Anonymous, else Put user -->
                                {% if review.isAnonymous %}
                                    <h2>Anonymous</h2>
                                {% else %}
                                    <h2>{{ review.user }}</h2>
                                {% endif %}
                            </div>
                            <div class="comments-date">
                                <h3>{{ review.date }}</h3>
                            </div>
                        </div>
                    <div class="comments-text">
                        <p>{{ review.commentReview }}</p>
                    </div>
                    </div>
                <div class="comments-rating">
                    <div class="score-Divide">
                        <div class="rating-number-box">
                            <h1>{{ review.understandability }}</h1>
                        </div>
                        <h4>Understandability</h4>
                    </div>
                    <div class="score-Divide">
                        <div class="rating-number-box">
                            <h1>{{ review.communication }}</h1>
                        </div>
                        <h4>Communication</h4>
                    </div>
                    <div class="score-Divide">
                        <div class="rating-number-box">
                            <h1>{{ review.teachingMethod }}</h1>
                        </div>
                        <h4>Teaching Method</h4>
                    </div>
                    </div>

                </div>
            {% endfor %}
        </div>

</body>
</html>